.mini-img {
    height: 125px;
    width: 125px;
}

.spacer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid 1px #000000;
}

button {
    color: black;
}

.add-post-button {
    float: right;
    margin-top: 20px;
    background-color: #4CAF50;
    margin-right: 100px;
}

.post-list {
    width:80%;
    margin:auto;
    display:block;
    margin-top: 100px;
}
