.mini-img {
    height: 125px;
    width: 125px;
}

.spacer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid 1px #000000;
}

button {
    color: black;
}

.add-post-button {
    float: right;
    margin-top: 2%;
    background-color: #4CAF50;
    margin-right: 10%;
}

.back-button {
    display: inline-block;
    margin-top: 4%;
    margin-left: 10%;
}

.back-button:hover {
    cursor: pointer;
    color: black;    
}

.post-list {
    width:80%;
    margin:auto;
    display:block;
}
