<app-user-nav-bar></app-user-nav-bar>

<button md-fab mdTooltip="Add Post" mdTooltipPosition="left" class="add-post-button" (click)="addPost()"><i class="material-icons">note_add</i></button>

<div class="post-list" *ngFor="let post of posts">
    <div class="spacer">
        <md-grid-list cols="6" rowHeight="50px">
            <md-grid-tile [colspan]="1" [rowspan]="2">
                <img class="mini-img" [src]="post.img">
            </md-grid-tile>
            <md-grid-tile [colspan]="4" [rowspan]="1">
                <h4>{{post.title}}</h4>
            </md-grid-tile>
            <md-grid-tile [colspan]="4" [rowspan]="1">
                <p>{{post.content | truncate:140}}</p>
            </md-grid-tile>
            <md-grid-tile [colspan]="6" [rowspan]="1">
                <button md-raised-button [routerLink]="['/user/editPost', post.id]">Edit</button>
                <button md-raised-button (click)="deletePost(post)">Delete</button>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>
