<div *ngIf="isDataAvailable">
    <form>
        <md-card class="post-card">
            <md-toolbar>
                <span class="post-title">Edit Post</span>
            </md-toolbar>
            <md-card-content>
                <md-input-container class="input-boxes">
                    <input mdInput placeholder="Title" id="title" [(ngModel)]="title" name="title" required #postTitle="ngModel">
                </md-input-container>      
                <br>
                <md-input-container class="input-boxes description-box">
                    <textarea mdInput class="description-box" placeholder="Description" id="description" [(ngModel)]="description" name="description" 
                    required #postDesc="ngModel"></textarea>
                </md-input-container>
            </md-card-content>
            <md-card-actions>
                <div class="button-row">                
                    <button md-raised-button class="create-button" [disabled]="!postTitle.valid || !postDesc.valid" (click)="updatePost()">Update Post</button>
                    <button md-raised-button class="cancel-button" (click)="cancel()">Cancel</button>            
                </div>
            </md-card-actions>  
        </md-card>
    </form>
</div>