.simlink {
    width: 20%;
    float: left;
}

.simlink:hover {
    color: #0000ff;
    cursor: pointer;
}

.alert {
    color: red;
}

.login-card {
  width: 400px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-title {
    margin: auto;    
    font: bold;
}

.submit-button {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.register-button {
    text-align: center;
    float: right;
    position: absolute;
    margin: 0;
    top: 59%;
    left: 59.5%;
    transform: translate(-50%, -50%);
    color: #0000ff;
}

.home-button {
    text-align: center;
    float: right;
    position: absolute;
    margin: 0;
    top: 59%;
    left: 41.5%;
    transform: translate(-50%, -50%);
    color: #0000ff;
}

.input-boxes {
    width: 100%;
    padding-top: 10px;
    margin: auto;    
}
