.about-page {
    width: 80%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    text-align: center;
}

.about-text {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.register-button {
    margin: auto;
    display: block;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Dekko';
    font-size: 22px;
    margin-top: 40px;
}

.register-button:hover {
    color: black;
}
