<app-nav-bar></app-nav-bar>
<div class="about-page">
    <h1 class="title">About Us</h1>

    <div class="about-text">
        AddieC was created to give all cat lovers a fast and easy way to share their latest cat pictures with their friends.
    </div>
    <div class="about-text">
        We provide a platform that makes uploading, sharing and viewing pictures stay simple, while still providing high-level security and speed for our users.
    </div>

    <button md-button class="register-button" [routerLink]="['/user']">Get Started</button>
</div>
