.spacer {
  flex: 1 1 auto;
}

.toolbar {
    height: 20px;
}

[hidden] {
  display: none !important;
}

.search-bar {
  width: 18%;
}

.dropdown-button {
  text-align: center;
}

.menu-font {
  font-size: 90%;
}

.center-icon {
  fill: currentColor;
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
}
  
.center-icon:hover {
  color: #0000ff;
  cursor: pointer;
}
