<app-user-nav-bar></app-user-nav-bar>

<div *ngIf="isDataAvailable">
    <div class="user-name">{{userNickname}}</div>
    <img class="picture" mdTooltip="Change Profile Picture" mdTooltipPosition="left" (click)="editProfilePicture()" [src]='profilePicUrl'>

    <div class="button-row">
        <button class="user-button" md-button (click)="viewPosts()">Posts</button>
        <button class="user-button" md-button (click)="about()">About</button>
        <button class="user-button" md-button (click)="contacts()">Contacts</button>        
    </div>

    <div class="summary">
        Summary
    </div>

    <md-card class="about-card">
        <md-grid-list cols="2" rowHeight="85px">
            <md-grid-tile [colspan]="1" [rowspan]="3">
                <div class="user-description" (click)="viewSummary()">
                    {{theUser.aboutMe | truncate:200}}
                </div>
            </md-grid-tile>
            <md-grid-tile>
                <div>
                    Nickname: {{theUser.nickname}}
                </div>
            </md-grid-tile>
            <md-grid-tile>
                <div>
                    Age: {{theUser.age}}
                </div>
            </md-grid-tile>
            <md-grid-tile>
                <div>
                    Lives in: {{theUser.state}}
                </div>
            </md-grid-tile>
        </md-grid-list>
    </md-card>

    <div class="recent-acitivity">
        Recent Activity
    </div>

    <div>
        <button md-raised-button class="add-post-button" (click)="addPost()">Add Post</button>
    </div>

    <div class="post-list" *ngFor="let post of posts">
        <div class="spacer">
            <md-list>
                <md-list-item>
                    <h4 class="post-title" (click)="choosePost(post)">{{post.title}}</h4>
                </md-list-item>
                <md-list-item>
                    <img class="mini-img" [src]="post.img">
                </md-list-item>            
            </md-list>
        </div>
    </div>
</div>
