.picture {
    width: 45%;
    height: 45%;
    border-radius: 10px;
    margin: auto;
    display: block;
}

.image {
    position: relative; 
    width: 100%;
}

.display-image {
    width: 85%;
    height: 200px;
}

.list-title:hover {
    color: #0000ff;
    cursor: pointer;
}

.spacing {
    margin-top: 30px;
}

.card-spacing {
    padding-bottom: 40px;    
}

.cursive {
    font: 400 60px/1.3 'Arizonia', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    text-align: center;
    margin: 20px;
}
