<app-nav-bar></app-nav-bar>

<div class="cursive">Welcome to AddieC!</div>
<div class="image">
    <img class="picture" [src]='addieUrl'>
</div>  

<div class="spacing">   
    <div class="cursive">Top Posts</div>   
    <md-grid-list cols="3" rowHeight="2:1">
        <md-grid-tile
            *ngFor="let post of posts"
            [colspan]="1"
            [rowspan]="1"
            class="post-tile">
            <div class="card-spacing">
                <img class="display-image" [src]="post.img">
                <div>
                    <h4 class="list-title" (click)="choosePost(post)">{{post.title}}</h4>
                </div>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>
