.picture {
    width: 60%;
    height: 60%;
    border-radius: 10px;
    margin: auto;
    display: block;
}

.image {
    position: relative; 
    width: 100%;
}

.display-image {
    border-radius: 10px;
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
}

.list-title {
    text-align: center;
}

.list-title:hover {
    color: black;
    cursor: pointer;
}

.spacing {
    margin-top: 130px;
}

.card-spacing {
    height: 200px;
    width: 300px;
    margin: 10px;    
}

.cursive {
    font: 400 60px/1.3 'Arizonia', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: none;
    text-align: center;
    margin: 20px;
}
