.tab-content {
    margin-top: 20px;
}

md-tab-group {
    width: 480px;
    margin: auto;
    display: block;
    margin-top: 150px;
    color: black;
    text-shadow: none;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
  margin-left: 15px;
}

.example-radio-button {
  margin: 5px;
}

md-checkbox {
    margin: 15px;
    color: black;
    text-shadow: none;
}

.checkbox-space {
    margin-top: 35px;    
}

.security-button {
    width: 40%;
    margin-top: 10px;
}

.security-button:hover {
    color: black;
}

#abuse-button {
    float: right;
    color: red;
    text-shadow: none;
}

#abuse-button:hover {
    color: black;
}

.blocked-users:hover {
    cursor: pointer;
}

.button-div {
    margin: auto;
    text-align: center;
}

.settings-button {
    width: 240px;
    margin-top: 30px;
    color: black;
}
