img {
    height: 80%;
    width: 80%;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.image-spacing {
    margin-bottom: 50px;
}

.post-title {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background-color: #C0C0C0;    
    width: 48%;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.back-link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.back-link:hover {
    color: black;
}

.text-center {
    text-align: center;
    width: 48%;
    display: block;
    margin: auto;
}

.row-spacing {
    height: 45%;
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 5%;
}
