.simlink:hover {
    color: #0000ff;
    cursor: pointer;
}

.alert {
    color: red;
}

.login-card {
  width: 400px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-title {
    margin: auto;    
    font: bold;
}

.submit-button {
    width: 50%;
    text-align: center;
}

.register-button {
    width: 50%;
    text-align: center;
}

.input-boxes {
    width: 100%;
    padding-top: 10px;
    margin: auto;
}

.full-width {
    width: 100%;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mat-card-content {
  text-shadow: none;
}
