<form>
    <md-card class="login-card">
        <md-toolbar>
            <span class="login-title">User Login</span>
        </md-toolbar>
        <md-card-content>
            <md-input-container class="input-boxes">
                <input mdInput placeholder="Username" id="email" [(ngModel)]="email" name="email" required #em="ngModel">
            </md-input-container>      
            <br>
            <md-input-container class="input-boxes">
                <input mdInput type="password" placeholder="Password" id="password" [(ngModel)]="password" name="password" required #pw1="ngModel">          
            </md-input-container>
            <br>
            <md-input-container class="input-boxes">
                <input mdInput type="password" placeholder="Confirm Password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required #pw2="ngModel">          
            </md-input-container>
            <div *ngIf="passwordFail" class="alert callout">
                Passwords must match
            </div>
        </md-card-content>
        <md-card-actions class="test">
            <div class="example-button-row">                
                <button md-raised-button class="register-button" (click)="signUp()">Register</button>
                <button md-raised-button class="submit-button" (click)="cancel()">Cancel</button>            
            </div>
        </md-card-actions>  
    </md-card>
    <div>
        <p (click)="cancel()" class="simlink">&larr; Home</p>
    </div>
</form>
